@use '../../styles/partials/variables' as *;
@use '../../styles/partials/mixins' as *;

.dog-details{
    background-color: $main-blue;
    @include flexColumnCenter;
    @include SizeSection(0);

    &__title{
        color:white;
        @include applyTextShadow;
        font-size: $fs-title-large;
    }
    &__form{
        @include flexColumnCenter;
        width: 100%;
    }
   
    &__choose-file{
        height: 3rem;
        width: 15rem;
        margin: 0 auto $margin-bottom-medium;
        background-color: $light-brown;
        position: relative;
        font-size:1.5rem;
        color: white;
        text-align: center;
        padding-top: .5rem;
        @include applyBoxShadow;
        @include applyTextShadow;
        @include encapsulate;
    }

    &__preview{
        position: absolute;
        border-radius:50%;
        height: 13rem;
        width: 13rem;
        z-index:1;
        
    }

    &__inputs-container{
        background-color: white;
        border-radius: 5rem;
        margin-bottom:$margin-bottom-medium;
        width: 100%;
        padding: $padding-medium;
        padding-top: 3rem;
        @include applyBoxShadow;
    }
    &__label{
        display: block;
        font-size: $fs-label;
        color:$dark-blue;
        text-shadow: .1rem .1rem .1rem rgba(black,.5);
    }
    &__input{
        border: .2rem solid $dark-blue;
        @include encapsulate;
        width: 100%;
        min-height: 4rem;
        margin: $margin-bottom-medium auto;
        @include applyBoxShadow;
        &--textarea{
            @extend .dog-details__input;
            min-height: 15rem;
        }
    }
}

.image-container{
    border-radius: 50%;
    height: 15rem;
    width: 15rem;
    margin: $margin-bottom-medium auto;
    background-color: $light-brown;
    @include applyBoxShadow;
    @include flexCenter;
    
}