@use '../../styles/partials/variables' as *;
@use '../../styles/partials/mixins' as *;

.button{
    padding: 0 3.5rem;
    outline:1px solid black;
    border:none;
    background-color: $light-brown;
  
    @include applyBoxShadow;
    @include encapsulate;
    @include styleRegistrationInput;

    &:hover{
        background-color: $dark-brown;
    }

}