@use './variables' as *;



//Flex-box Shortcuts

@mixin flexColumn{
    display: flex;
    flex-direction: column;
}

@mixin flexColumnCenter{
    display: flex;
    align-items: center;
    flex-direction: column;
}

@mixin flexCenter{
    display: flex;
    align-items: center;
    justify-content: center;
}


//Section Shortcuts

@mixin SizeSection($bottom){
    min-height:100vh;
    padding: 2rem 1.5rem;
    margin-bottom:$bottom;
}

@mixin StyleSectionHeader($font-size){
    font-size: $font-size;
    color: $dark-blue;
    @include applyTextShadow;
    margin-bottom: $margin-bottom-medium;
}

//Label Styling

@mixin StyleLabel{
    display: block;
    font-size: $fs-label;
    color:$dark-blue;
    @include applyLightTextShadow;
}

@mixin applyLightTextShadow {
    text-shadow: .1rem .1rem .1rem rgba(black,.8);
}

@mixin applyTextShadow {
    text-shadow: .15rem .15rem .15rem black;
}
@mixin applyBoldTextShadow {
    text-shadow: .2rem .2rem .2rem black;
}

@mixin applyBoxShadow {
    box-shadow: .15rem .15rem .15rem black;
}

@mixin encapsulate {
    border-radius: 2rem;
}

@mixin styleRegistrationInput{
    font-family: 'Acme';
    font-size:$fs-input-large;
    @include applyTextShadow;
    color: white;
    text-align: center;
}
