//Responsive Design
$tablet-breakpoint: 48rem; // 768px
$desktop-breakpoint: 80rem; // 1280px

//Colors
$dark-blue:#5396B8;
$main-blue: #93BFCF;
$light-blue:#BDCDD6;

$light-brown:#FFD2B1;
$dark-brown:#865B52;
$nav-bar-color:#EEE9DA;

$text-grey: #7B7B7B;


//paragraph styling examples
$font-size-input-large: 2rem;

//Spacing
$margin-bottom-small:1rem;
$margin-bottom-medium:1.5rem;
$margin-bottom-large:2rem;

$padding-small:1rem;
$padding-medium:1.5rem;
$padding-large:2rem;

//Font-sizes & Letter Spacing
$registration-title-fs:4.5rem;
$registration-title-ls:.2rem;

