//Responsive Design
$tablet-breakpoint: 48rem; // 768px
$desktop-breakpoint: 80rem; // 1280px

//Colors
$dark-blue:#5396B8;
$main-blue: #93BFCF;
$light-blue:#BDCDD6;

$light-brown:#FFD2B1;
$dark-brown:#865B52;
$nav-bar-color:#EEE9DA;

$text-grey: #7B7B7B;

//Spacing
$margin-bottom-small:1rem;
$margin-bottom-medium:1.5rem;
$margin-bottom-large:2rem;

$padding-small:1rem;
$padding-medium:1.5rem;
$padding-large:2rem;

//Font-sizes 
$fs-registration-title:4.5rem;
$fs-input-large: 2rem;
$fs-sub-heading:3rem;
$fs-title-large: 3rem;
$fs-label: 2rem;
$fs-title: 2rem;
$fs-date: 1.3rem;
$fs-text:1.4rem;
$fs-profile-detail-small:1.5rem;
$fs-profile-detail-large:1.9rem;

