@use '../../styles/partials/variables' as *;
@use '../../styles/partials/mixins' as *;

.paw-post{
    @include flexColumn;
    align-items: flex-start;
    @include SizeSection(7rem);

    &__heading{
        @include StyleSectionHeader(4rem);
       
    }
    &__title{
        font-size: 2rem;
        margin-bottom: $margin-bottom-small;
        text-shadow: 2px 2px 2px rgba(black,0.3);
       
    }
    &__information{
        display: flex;
        justify-content: space-between;
        width: 100%;
        margin-bottom: $margin-bottom-medium;
    }
    &__date{
        font-size: 1.3rem;
        color: $text-grey;
    }
    &__icon-contaner{
        display: flex;
        justify-content: space-between;
    }
    &__icon{
        margin-left: .5rem;
        outline: none;
        border:none;
        background-color: white;
    }
    &__image{
        align-self: center;
        border: 1rem solid $dark-blue;
        border-radius: 2rem;
        overflow: hidden;
        margin-bottom: 1.5rem;
        @include applyBoxShadow;
    }
    &__story{
        line-height: 2rem;
        font-size: 1.4rem;
        margin-bottom: $margin-bottom-small;
    }
    &__emoticon{
        align-self: flex-end;
        margin-bottom: $margin-bottom-small;
    }
}
