@use '../../styles/partials/variables' as *;
@use '../../styles/partials/mixins' as *;

.crud-pawpost{
    @include flexColumnCenter;
    @include SizeSection(7rem);
    position: relative;

    &__title{
        @include StyleSectionHeader(3.5rem)
        
    }
    &__form{
        width: 100%; 
    }
    &__form-section{
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin-bottom: $margin-bottom-small;
    }

    &__form-letf{
        width: 35%;
        margin-right:0% ;
    }

    &__form-right{
        width: 45%;
    }

    &__image{
        display: block;
        padding: $padding-large $padding-small;
        border:1rem solid $dark-blue;
        border-radius:1rem;
    }

    &__add-button{
        width: 100%;
        padding: .5rem $padding-large;
        margin: $margin-bottom-medium 0;
        outline:1px solid black;
        border:none;
        background-color: $dark-blue;

        @include styleRegistrationInput;
        @include applyBoxShadow;
        @include encapsulate;
        font-size: 1.5rem;
    }

    &__label{
        @include StyleLabel;
    }

    &__input{
        border: .2rem solid $dark-blue;
        @include encapsulate;
        width: 100%;
        min-height: 4rem;
        margin: $margin-bottom-medium auto;
        @include applyBoxShadow;
        &--textarea{
            @extend .crud-pawpost__input;
            min-height: 15rem;
        }
        &--date[type="date"]{
            margin-top: 1.15rem;
            border: .2rem solid $dark-blue;
            @include applyBoxShadow;
            padding: .5rem;
            border-radius: 2rem;
            background-color: white;
            font-family: 'Acme';
            font-size:1.1rem;
            color: black;
        }
    }
    &__emoticon-section{
        padding-top: $padding-medium;
        display: flex;
        flex-wrap: wrap;

    }
    &__emoticon-container{
        width: 33%;
        @include flexCenter;
        margin-bottom: $margin-bottom-medium;
    }
    &__emoticon{
        width:5rem;
    }
    &__return-icon{
        width:3rem;
        filter: drop-shadow(1px 1px 2px $dark-blue);
    }
    &__return-link{
        position: absolute;
        left:1rem;
        top:3rem;
    }
}

.align-left{
    margin-top: 1rem;
    display: flex;
    justify-content: flex-end;
    
}
.none{
    display: none;
}

::-webkit-calendar-picker-indicator{
    background-color:white;
    border-radius: .3rem;
    
    @include applyBoxShadow;
    cursor: pointer;
    position: relative;
    right:.5rem;
}