@use '../../styles/partials/variables' as *;
@use '../../styles/partials/mixins' as *;

.metric{
    position: relative;
    @include flexColumn;
    align-items: flex-start;
  
    &__heading{
        font-size: $fs-title;
        text-shadow: 2px 2px 2px rgba(black,0.3);
        margin-bottom: $margin-bottom-small;
    }
    &__paw-container{
        display: flex;
        justify-content: space-between;
        width: 75%;
        margin-bottom:  $margin-bottom-small;
    }
    &__paw{
        width: 3rem;
        filter: drop-shadow(3px 5px 2px rgb(0 0 0 / 0.4));
    }

    &__text{
        line-height: 2rem;
        font-size: $fs-text;
        text-shadow: 2px 2px 2px rgba(black,0.3);
    }
    &__total{
        @extend .metric__text;
        margin-bottom:  $margin-bottom-small;
        align-self: flex-end;
    }
    &__add-icon{
        position: absolute;
        right: 1rem;
        top:3.8rem;
    }
}