@use '../../styles/partials/variables' as *;
@use '../../styles/partials/mixins' as *;

.registration{
    display:flex;
    flex-direction: column;
    align-items: center;
    background-color: $main-blue;
    min-height:100vh;
    padding: 2rem 1.5rem;
   
    &__title{
        color: white;
        font-size: 4.5rem;
        letter-spacing: .2rem;
        margin-bottom: 1rem;
        @include applyTextShadow;
    }

    &__image{
        width:15rem;
        aspect-ratio: 1/1;
        margin-bottom: 1.5rem; 
    }

    &__form{
        background-color: white;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 90%;
        height:15rem;
        padding:2rem;
        margin-bottom: 1.5rem;
        border-radius:4rem;
        outline:1px solid black;
        @include applyBoxShadow;
    }

    &__input{
        padding: 0 3.5rem;
        border-radius: 2rem;
        outline:1px solid black;
        border:none;
        background-color: $light-blue;
        
        @include applyBoxShadow;
        @include styleRegistrationInput   
    }
}

::placeholder{
    color: white;
}

.signup-button{
    outline:none;
    border:none;
    background-color: $main-blue;
    text-decoration: none;
    
    @include styleRegistrationInput;
    text-shadow: .2rem .2rem .2rem black;
}
.hide{
    display: none;
}