@use '../../styles/partials/variables' as *;
@use '../../styles/partials/mixins' as *;

.loading{
    @include flexColumnCenter;
    @include SizeSection(0);
    &__heading{
        font-size: 3rem;
        color: $main-blue;
        @include applyTextShadow;
        margin-bottom: 4rem;
        text-align:center;
    }
    &__sub-heading{
        font-size: 2.5rem;
        color: $main-blue;
        @include applyTextShadow;
        margin-bottom: $margin-bottom-medium;
        text-align:center;
    }
    &__image{
        width: 20rem;
        animation: enlarge 2s linear infinite ;
    }
}
@keyframes enlarge {
    0%,100% {
        transform: translateY(0) scale(1);
    }
    50% {
        transform: translateY(-10%) scale(1.1);
        
    }
  }